/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');


a:link, a:visited {
	color: blue;
	font-style: italic;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {

line-height: 30px;
}

code {
	font-style: italic;
}

h1, h2, h3 {
text-align: left;
}

h1 {
border-bottom: black solid 3px ;
margin: 0.5em;

}

h2 {
font-weight: 700;
}

h3 {
	font-size: 1.5em;
}

header {
	width: fit-content;
}

main {
	margin: 1em;
}

p {
font-size: 20px;
margin: .5em;
font-family: 'Outfit', sans-serif;
font-weight: 150;
}

#intro {
	border: solid 5px black;
	margin: .5em;
}

#how-does-it-work, #influence, #joke {
	border: solid 5px black;
	margin: .5em;
}