/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');


a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
margin: 1em;
line-height: 30px;
}

code {
	font-style: italic;
}

h1, h2, h3 {

}

h1 {
border: black solid 5px ;
box-sizing: 50%;

}

h2 {

}

h3 {
	
}

header {
	
}

main {

}

p {
font-size: 20px;
margin: .5em;
font-family: 'Outfit', sans-serif;
}

#intro {
	border: solid 5px black;
	margin: .5em;
}

#how-does-it-work, #influence, #joke {
	border: solid 5px black;
	margin: .5em;
}